<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pizza Spring</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
</head>
<body class="bg-warning bg-opacity-10">
<a th:href="@{/pizzas}">Le nostre pizze</a>
<!-- DETTAGLIO PIZZA -->
<section class="container mt-3">
    <div class="card rounded p-3">
        <div class="row" th:object="${pizza}">
            <div class="col-6">
                <h2 class="text-danger" th:text="*{nome}"></h2>
                <h4 class="">Ingredienti:</h4>
                <p th:text="*{descrizione}"></p>
                <p class="fw-bold m-0">Prezzo:</p>
                <p class="text-success" th:text="|*{prezzo} $|"></p>
            </div>
            <div class="col-6">
                <img class="w-100" th:src="*{image}"/>
            </div>
        </div>
    </div>
</section>

<!-- OFFERTE -->
<section class="container mt-5">
    <h2 class="text-danger mb-3">Le offerte attive su questa pizza</h2>
    <!-- Button per aggiungere offerte alla pizza -->
    <a class="btn btn-outline-primary mb-3" th:href="@{/offers/create(pizzaId=${pizza.id})}">Metti in offerta</a>
    <table class="table" th:if="${pizza.offertaList.size()} > 0">
        <thead>
        <tr>
            <th class="">Offerta</th>
            <th>Inizio Offerta</th>
            <th>Fine Offerta</th>
            <th>Fine Offerta</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="offerta : ${pizza.offertaList}" th:object="${offerta}">
            <td class="text-success" th:text="*{nomeOfferta}"></td>
            <td th:text="*{#temporals.format(inizioOfferta, 'dd/MM/yyyy')}"></td>
            <td th:text="*{#temporals.format(fineOfferta, 'dd/MM/yyyy')}"></td>
            <td class="d-flex">
                <a th:href="@{|/offers/edit/*{id}|}" class="btn btn-outline-primary">
                    <i class="bi bi-pencil-fill"></i>
                </a>
                <form th:action="@{|/offertaList/delete/*{id}|}" method="post">
                    <button class="btn btn-outline-danger ms-2" type="submit">
                        <i class="bi bi-trash-fill"></i>
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-info fw-bold" th:unless="${pizza.offertaList.size()} > 0">
        Al momento non ci sono offerte attive su questa pizza
    </div>
</section>
</body>
</html>